.immocard {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: 4px solid #ffffff;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  transition-property: transform filter 2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  /*background-color: black;*/
  filter: drop-shadow(0px 2px 4px #9b9797) drop-shadow(0px 4px 8px #a7a3a3)
    drop-shadow(0px 8px 16px #bdb3b3);
}

.immocard:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px,
    rgba(0, 0, 0, 0.12) 0px -6px 15px, rgba(0, 0, 0, 0.12) 0px 2px 3px,
    rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.09) 0px -1px 3px;
  /*outline: 3px solid #fff;*/
  transform: translateY(-20px);
  transform: scale(1.05);
}

.immocard:hover img {
  filter: brightness(110%);
}

.immocard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.immocard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  z-index: 1;
}

.immocard p {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 200px;
  margin: 0 0 10px 20px;
  z-index: 2;
}
